.header {
    background-color: #00aaff59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100%;
    box-shadow: 0px 21px 28px 0px #00aaff59;
}

#content {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 32px;
}

#title_book {
    width: 500px;
    display: flex;
    justify-content: center;
}

#book_img {
    width: 500px;
    display: flex;
    justify-content: center;
}

.price_like {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    padding: 30px;
}

.like {
    display: flex;
    align-items: center;
}

.like_red_heart {
    width: 40px;
    height: 40px;
    padding: 30px;
    content: url(/assets/img/icon/red_heart.png);
}

.none_like_white_heart {
    width: 40px;
    height: 40px;
    padding: 30px;
    content: url(/assets/img/icon/white_heart.png);
}

#book_info {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
