.header {
    background-color: #00ffae59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100%;
}

#content {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #037a5559 solid 3px;
    text-align: center;
    margin-bottom: 32px;
}

#title_book {
    width: 100%;
    display: flex;
    justify-content: center;
}

.book_container {
    background-color: #3fe9b392;
    padding-top: 16px;
    padding-bottom: 16px;
}

#book_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.price_like {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    padding: 30px;
}

.like {
    display: flex;
    align-items: center;
}

.like_red_heart {
    width: 40px;
    height: 40px;
    padding: 30px;
    content: url(/assets/img/icon/red_heart.png);
}

.none_like_white_heart {
    width: 40px;
    height: 40px;
    padding: 30px;
    content: url(/assets/img/icon/white_heart.png);
}

#book_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3fe9b392;
    padding-top: 16px;
    padding-bottom: 16px;
}

.input_field_design {
    display: flex;
    justify-content: center;
    background-color: #6bf2c7;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.comment_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.comment_field {
    font-size: 15px;
}

button {
    background-color: #3fb9e9d1;
    transition: background-color 500ms linear 0s;
    border: none;
    padding: 8px;
    &:hover {
        background-color: rgb(234, 11, 130);
    }
}
